
header{text-align: center;
    height:fit-content;
    background-color: rgb(8, 73, 130);

}
ul{list-style-position: inside;}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box{display: flex;
justify-content: center;
flex-direction: column;
width: 100%;}

.child{
display: flex;
justify-content: space-between;
align-items: center;
}